#!/bin/sh

# sourced at boot by ~/.xinitrc and most display managers

XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME

[ "$PATH" == *"$HOME/bin"* ] || PATH="$HOME/bin:$PATH"

xset dpms 600 900 1200
xset r rate 350 60

