* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0;
    font-family: "Roboto Condensed, FontAwesome";
    font-weight: bold;
    font-size: 12px;
}

/* colors */
/* background: #16161c */
/* background: rgba(22, 22, 28, 1.0); */
/* background-alt: #232530 */
/* background-alt: rgba(35, 37, 48, 1.0); */
/* foreground: #fadad1 */
/* foreground: rgba(250, 218, 209, 1.0); */
/* foreground-alt: #6c6f93 */
/* foreground-alt: rgba(108, 111, 147, 1.0); */
/* primary: #29d398 */
/* primary: rgba(41, 211, 152, 1.0); */
/* good = #009550 */
/* good: rgba(0, 149, 80, 1.0); */
/* warn = #fcec02 */
/* warn: rgba(252, 236, 2, 1.0); */
/* alert = #ff0049 */
/* alert: rgba(255, 0, 73, 1.0); */

#window {
    padding-left: 6px;
}

window#waybar {
    background-color: rgba(22, 22, 28, 1.0);
    color: rgba(250, 218, 209, 1.0);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.empty {
    background-color: rgba(22, 22, 28, 0.8);
}

/* window#waybar.spotify { */
/*     background-color: rgba(30, 215, 96, 1.0); */
/* } */

#workspaces button {
    background-color: transparent;
    /* box-shadow: none; */
    color: rgba(108, 111, 147, 1.0);
    padding: 0 4px;
}

/* TODO: */
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background-color: rgba(108, 111, 147, 0.2);
    /* box-shadow: inherit; */
}

#workspaces button.focused {
    background-color: rgba(35, 37, 48, 1.0);
    border-bottom: 2px solid rgba(41, 211, 152, 1.0);
    color: rgba(250, 218, 209, 1.0);
}

#workspaces button.urgent {
    background-color: rgba(255, 0, 73, 1.0);
}

#mode {
    background-color: rgba(41, 211, 152, 1.0);
    color: rgba(22, 22, 28, 1.0);
    padding: 0 10px;
    margin: 0 4px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#network,
#pulseaudio,
#temperature,
#tray {
    padding: 0 6px;
}

#battery.charging {
    animation-name: blink-charging;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-charging {
    to {
        background-color: rgba(0, 149, 80, 0.8);
    }
}

#battery.warning {
    color: rgba(252, 236, 2, 1.0);
}

#battery.critical {
    color: rgba(255, 0, 73, 1.0);
}

#battery.critical:not(.charging) {
    animation-name: blink-critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-critical {
    to {
        background-color: rgba(255, 0, 73, 1.0);
        color: rgba(22, 22, 28, 1.0);
    }
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#idle_inhibitor {
    color: rgba(108, 111, 147, 1.0);
}

#idle_inhibitor.activated {
    color: rgba(255, 0, 73, 1.0);
}

#keyboard-state {
    color: rgba(108, 111, 147, 1.0);
}

#keyboard-state label.locked {
    color: rgba(255, 0, 73, 1.0);
}

#network.disconnected {
    color: rgba(108, 111, 147, 0.6);
}

#pulseaudio.muted {
    background-color: rgba(255, 0, 73, 1.0);
    color: rgba(22, 22, 28, 1.0);
}

#temperature.critical {
    color: rgba(255, 0, 73, 1.0);
}

#tray {
    background-color: rgba(35, 37, 48, 1.0);
}

